body {
  margin: 0;
  overflow: hidden;
  background-color: white;
  height: 100%;
  margin: 0 auto;
}

canvas {
  /* height: 50%; */
  background-color: rgb(155, 232, 91);
}

button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 1em;
  font-weight: 900;
  margin-bottom: 0;

}

section {
  width: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%);

  display: flex;
  justify-content: center;
  background-color: rgb(66, 48, 4);
  flex-direction: column;
  align-items: center;
  gap: 10px;

}

h4 {

  margin-top: 1em;
  margin-bottom: 0;

}

input#text-input {

  padding: .67em;
  text-align: center;
  font-weight: 900;
}

input#slider {
  width: 85%;
  margin-bottom: .5em;
}

h3 {
  color: white;
}

#user-text-div {
  display: flex;
  gap: 1em;
  padding: 0;
  justify-content: center;
  /* align-items: stretch; */
}

#user-text-div > div  {
  display: flex;
  justify-content: center;
  font-size: 1.3rem;
  height: inherit;
  align-self: center;
  transform: translateY(-20%);
  color: white;
  font-weight: 900;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
body > section  > #distance-text {
  transform: translate(-18%);
}
